[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairo-lang = "*"
cairo-nile = "*"
click = "*"
ecdsa = "*"
fastecdsa = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.9"
